a {
  text-decoration: none;
}

.botm {
  color: white;
  background-color: black;
  justify-content: center;
}

.post_count {
  align-self: flex-end;
}

.msg {
  width: 70%;
  margin: 20px auto;
  display: flex;
  align-items: center;
}

input::placeholder,
textarea::placeholder {
  font-style: italic;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bio {
  width: 70%;
}

.button {
  width: 10%;
  text-align: center;
}

.posts_d {
  color: rgb(0, 0, 0);
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  column-gap: 10%;
  margin-bottom: 20px;
}

.users_display {
  padding: 10px;
  border: 2px solid black;
  width: 100%;
}

img {
  width: 145px;
  image-rendering: pixelated;
  height: 145px;
}
